/*#resultaatTable {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}*/

#newCreationForm{
    margin: 50px;
}
#btnNewStudent{
    margin-top: 20px;
}

#StudentDiv{
    margin-top: 20px;
    margin-left: 20px;
}

#VakDiv{
    margin-left: 20px;
}